CONFIG_NR_CPUS=32
# CONFIG_ARM_EFI is not set
# CONFIG_GICV2 is not set
CONFIG_GICV3_ESPI=y
CONFIG_HAS_ITS=y
# CONFIG_VGICV2 is not set
# CONFIG_HWDOM_VUART is not set
CONFIG_FFA=y
# CONFIG_PARTIAL_EMULATION is not set
CONFIG_ARM_SCI_NONE=y
CONFIG_PCI_PASSTHROUGH=y
CONFIG_NO_PLAT=y
CONFIG_STATIC_MEMORY=y
CONFIG_STATIC_SHM=y
CONFIG_STACK_PROTECTOR=y
# CONFIG_HYPFS_CONFIG is not set
# CONFIG_EFI_SET_VIRTUAL_ADDRESS_MAP is not set
# CONFIG_XSM_SILO is not set
# CONFIG_SCHED_CREDIT is not set
CONFIG_SCHED_RTDS=y
CONFIG_SCHED_NULL=y
CONFIG_BOOT_TIME_CPUPOOLS=y
CONFIG_LLC_COLORING=y
CONFIG_SYSTEM_SUSPEND=y
# CONFIG_HAS_NS16550 is not set
# CONFIG_HAS_CADENCE_UART is not set
# CONFIG_HAS_LINFLEX is not set
# CONFIG_HAS_IMX_LPUART is not set
# CONFIG_HAS_MVEBU is not set
# CONFIG_HAS_MESON is not set
# CONFIG_HAS_OMAP is not set
# CONFIG_ARM_SMMU is not set
CONFIG_ARM_SMMU_V3=y
CONFIG_EXPERT=y
